.App {
  text-align: center;
}

.App-header {
 /* background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

.hoverEffect:hover{

  background-color:rgb(119, 134, 199);
  cursor: pointer;
  color:white;
}

.oddrow {
  background-color: #ffffff;
}

.evenrow{
  background-color: #ebeef2;

}

.table tbody tr td  {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: 300;
}

.table thead tr td  {
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgb(222, 232, 248);
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #825a78;

}


.recharts-label {
  font-size: 8px;
}

.recharts-legend-item-text{
  font-size: 8px;
}

.detailList{
  text-align: initial;
  list-style: none;
  font-size: smaller;
}